### This notebook begins the project by collecting and cleaning the data needed to create the time series

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import quandl

from datetime import timedelta

% matplotlib inline

In [2]:
# Check out a contact for soybeans from quandl
beans = quandl.get('CME/SX2016', authtoken='Hv95pPh1xQWzt5DFhxS7')
beans.dropna().head()

,Open,High,Low,Last,Change,Settle,Volume,Open Interest
Date,,,,,,,,
2014-10-30,998.0,1000.75,982.00,982.5,10.50,987.50,143.0,1772.0
2015-02-19,979.0,987.00,972.50,984.5,9.00,983.50,151.0,2956.0
2015-03-09,969.0,970.00,965.50,970.0,4.00,967.00,64.0,3490.0
2015-03-23,954.0,967.25,954.00,964.0,8.00,963.25,138.0,4447.0
2015-04-28,959.5,965.50,953.75,955.0,2.75,954.75,266.0,5834.0

In [3]:
beans.describe().T

,count,mean,std,min,25%,50%,75%,max
Open,999.0,703.782533,453.605740,0.00,0.0000,944.250,1007.0000,1250.00
High,1001.0,710.407343,456.062846,0.00,0.0000,951.750,1014.5000,1250.00
Low,1000.0,705.562000,449.186245,0.00,0.0000,940.750,1000.3125,1250.00
Last,354.0,948.456921,71.289668,860.00,889.8125,928.625,984.3750,1162.00
Change,683.0,7.566618,7.227056,0.00,2.7500,5.500,10.0000,60.25
Settle,1008.0,1037.662946,106.615126,859.75,953.9375,1021.375,1127.8125,1256.50
Volume,1008.0,16316.289683,38440.486985,0.00,0.0000,57.500,4105.2500,219688.00
Open Interest,1008.0,59880.424603,116421.998789,0.00,19.0000,1908.000,61813.0000,435825.00

In [4]:
beans.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1008 entries, 2012-11-14 to 2016-11-14
Data columns (total 8 columns):
Open             999 non-null float64
High             1001 non-null float64
Low              1000 non-null float64
Last             354 non-null float64
Change           683 non-null float64
Settle           1008 non-null float64
Volume           1008 non-null float64
Open Interest    1008 non-null float64
dtypes: float64(8)
memory usage: 70.9 KB

In [5]:
beans.dtypes

Open             float64
High             float64
Low              float64
Last             float64
Change           float64
Settle           float64
Volume           float64
Open Interest    float64
dtype: object

In [6]:
beans.head()

            Open  High     Low  Last  Change   Settle  Volume  Open Interest
Date
2012-11-14   0.0   0.0     0.0   NaN     NaN  1224.75     0.0            0.0
2012-11-15   0.0   0.0     0.0   NaN     NaN  1218.50     0.0            0.0
2012-11-16   0.0   0.0  1210.0   NaN     NaN  1210.00     0.0            0.0
2012-11-19   0.0   0.0     0.0   NaN     NaN  1224.00     0.0            0.0
2012-11-20   0.0   0.0     0.0   NaN     NaN  1239.00     0.0            0.0

In [7]:
cpy = beans.copy()
test = []
test.append(beans)
test.append(cpy)
test

[               Open     High      Low     Last  Change   Settle    Volume  \
 Date
 2012-11-14     0.00     0.00     0.00      NaN     NaN  1224.75       0.0
 2012-11-15     0.00     0.00     0.00      NaN     NaN  1218.50       0.0
 2012-11-16     0.00     0.00  1210.00      NaN     NaN  1210.00       0.0
 2012-11-19     0.00     0.00     0.00      NaN     NaN  1224.00       0.0
 2012-11-20     0.00     0.00     0.00      NaN     NaN  1239.00       0.0
 2012-11-21     0.00     0.00     0.00      NaN     NaN  1232.00       0.0
 2012-11-23     0.00     0.00     0.00      NaN     NaN  1232.50       0.0
 2012-11-26     0.00     0.00     0.00      NaN     NaN  1241.75       0.0
 2012-11-27     0.00     0.00     0.00      NaN     NaN  1254.75       0.0
 2012-11-28     0.00     0.00     0.00      NaN     NaN  1252.00       0.0
 2012-11-29     0.00     0.00     0.00      NaN     NaN  1253.75       0.0
 2012-11-30     0.00     0.00     0.00      NaN     NaN  1253.00       0.0
 2012-12-03     0.00     0.00     0.00      NaN     NaN  1256.50       0.0
 2012-12-04     0.00     0.00     0.00      NaN     NaN  1250.50       0.0
 2012-12-05     0.00     0.00     0.00      NaN     NaN  1256.50       0.0
 2012-12-06  1250.00  1250.00  1250.00      NaN     NaN  1256.50       1.0
 2012-12-07     0.00     0.00     0.00      NaN     NaN  1248.50       0.0
 2012-12-10     0.00     0.00     0.00      NaN     NaN  1250.75       0.0
 2012-12-11     0.00     0.00     0.00      NaN     NaN  1234.00       0.0
 2012-12-12     0.00     0.00     0.00      NaN     NaN  1236.25       0.0
 2012-12-13     0.00     0.00     0.00      NaN     NaN  1228.00       0.0
 2012-12-14     0.00     0.00     0.00      NaN     NaN  1236.75       0.0
 2012-12-17     0.00     0.00     0.00      NaN     NaN  1239.25       0.0
 2012-12-18     0.00     0.00     0.00      NaN     NaN  1231.75       0.0
 2012-12-19     0.00     0.00     0.00      NaN     NaN  1224.75       0.0
 2012-12-20     0.00     0.00     0.00      NaN     NaN  1230.50       0.0
 2012-12-21     0.00     0.00     0.00      NaN     NaN  1242.50       0.0
 2012-12-24     0.00     0.00     0.00      NaN     NaN  1244.50       0.0
 2012-12-26     0.00     0.00     0.00      NaN     NaN  1239.75       0.0
 2012-12-27     0.00     0.00     0.00      NaN     NaN  1241.25       0.0
 ...             ...      ...      ...      ...     ...      ...       ...
 2016-10-04   970.75   972.00   960.25   965.00    9.50   963.50  106664.0
 2016-10-05   963.50   967.50   950.50   955.50    6.75   956.75  120912.0
 2016-10-06   956.00   959.75   947.25   958.50    1.75   958.50  100720.0
 2016-10-07   958.75   973.25   955.25   955.50    1.75   956.75  157903.0
 2016-10-10   955.75   964.25   950.00   953.75    2.25   954.50  111904.0
 2016-10-11   953.50   960.75   951.50   953.00    0.25   954.25  128280.0
 2016-10-12   953.00   971.25   943.25   946.00    8.75   945.50  219534.0
 2016-10-13   946.00   959.50   937.25   955.00   10.75   956.25  164969.0
 2016-10-14   955.50   974.25   952.00   961.75    6.25   962.50  166248.0
 2016-10-17   961.75   979.00   961.00   977.00   15.75   978.25  131057.0
 2016-10-18   977.50   987.00   971.50   972.00    5.75   972.50  156737.0
 2016-10-19   972.00   982.75   971.00   981.00    9.00   981.50  120150.0
 2016-10-20   981.25   989.75   973.25   975.25    6.00   975.50  116474.0
 2016-10-21   976.25   984.25   974.50   983.00    7.50   983.00   95860.0
 2016-10-24   982.75   999.75   980.00   991.50    9.00   992.00  152487.0
 2016-10-25   991.25   997.00   981.25   989.75    1.25   990.75  127094.0
 2016-10-26   990.25  1011.00   988.75  1005.00   19.25  1010.00  109249.0
 2016-10-27  1008.50  1020.00  1002.75  1013.75    4.25  1014.25   77412.0
 2016-10-28  1013.00  1017.50   999.50   998.00   13.00  1001.25   63306.0
 2016-10-31  1002.00  1008.00   996.25  1002.25    1.00  1002.25   16939.0
 2016-11-01  1002.00  1006.25   983.00   983.00   18.00   984.25   10273.0
 2016-11-02   983.00   986.25   973.50   977.00    7.50   976.75    8181.0
 2016-11-03   976.50   984.50   976.50   979.75    3.00   979.75    3805.0
 2016-11-04   980.50   985.50   975.00   981.75    1.75   981.50    3906.0
 2016-11-07   981.75   992.25   981.75   989.50    7.75   989.25    4383.0
 2016-11-08   989.50  1011.25   989.00  1000.50   12.50  1001.75    3392.0
 2016-11-09  1000.00  1007.00   975.50   983.50   19.75   982.00    3399.0
 2016-11-10   982.25  1007.75   982.00   992.75    7.00   989.00    2135.0
 2016-11-11   997.00  1005.50   969.50   979.50   10.50   978.50    2558.0
 2016-11-14   980.75   982.25   968.00   970.25    7.50   971.00     588.0

             Open Interest
 Date
 2012-11-14            0.0
 2012-11-15            0.0
 2012-11-16            0.0
 2012-11-19            0.0
 2012-11-20            0.0
 2012-11-21            0.0
 2012-11-23            0.0
 2012-11-26            0.0
 2012-11-27            0.0
 2012-11-28            0.0
 2012-11-29            0.0
 2012-11-30            0.0
 2012-12-03            0.0
 2012-12-04            0.0
 2012-12-05            0.0
 2012-12-06            0.0
 2012-12-07            1.0
 2012-12-10            1.0
 2012-12-11            1.0
 2012-12-12            1.0
 2012-12-13            1.0
 2012-12-14            1.0
 2012-12-17            1.0
 2012-12-18            1.0
 2012-12-19            1.0
 2012-12-20            1.0
 2012-12-21            1.0
 2012-12-24            1.0
 2012-12-26            1.0
 2012-12-27            1.0
 ...                   ...
 2016-10-04       327816.0
 2016-10-05       322962.0
 2016-10-06       311421.0
 2016-10-07       310522.0
 2016-10-10       297623.0
 2016-10-11       292833.0
 2016-10-12       280393.0
 2016-10-13       272975.0
 2016-10-14       269286.0
 2016-10-17       265250.0
 2016-10-18       252451.0
 2016-10-19       242535.0
 2016-10-20       229943.0
 2016-10-21       222392.0
 2016-10-24       150630.0
 2016-10-25       116925.0
 2016-10-26        91534.0
 2016-10-27        65009.0
 2016-10-28        40440.0
 2016-10-31        21455.0
 2016-11-01        15994.0
 2016-11-02        11225.0
 2016-11-03         8780.0
 2016-11-04         7487.0
 2016-11-07         6147.0
 2016-11-08         5079.0
 2016-11-09         4343.0
 2016-11-10         3296.0
 2016-11-11         2376.0
 2016-11-14          649.0

 [1008 rows x 8 columns],
                Open     High      Low     Last  Change   Settle    Volume  \
 Date
 2012-11-14     0.00     0.00     0.00      NaN     NaN  1224.75       0.0
 2012-11-15     0.00     0.00     0.00      NaN     NaN  1218.50       0.0
 2012-11-16     0.00     0.00  1210.00      NaN     NaN  1210.00       0.0
 2012-11-19     0.00     0.00     0.00      NaN     NaN  1224.00       0.0
 2012-11-20     0.00     0.00     0.00      NaN     NaN  1239.00       0.0
 2012-11-21     0.00     0.00     0.00      NaN     NaN  1232.00       0.0
 2012-11-23     0.00     0.00     0.00      NaN     NaN  1232.50       0.0
 2012-11-26     0.00     0.00     0.00      NaN     NaN  1241.75       0.0
 2012-11-27     0.00     0.00     0.00      NaN     NaN  1254.75       0.0
 2012-11-28     0.00     0.00     0.00      NaN     NaN  1252.00       0.0
 2012-11-29     0.00     0.00     0.00      NaN     NaN  1253.75       0.0
 2012-11-30     0.00     0.00     0.00      NaN     NaN  1253.00       0.0
 2012-12-03     0.00     0.00     0.00      NaN     NaN  1256.50       0.0
 2012-12-04     0.00     0.00     0.00      NaN     NaN  1250.50       0.0
 2012-12-05     0.00     0.00     0.00      NaN     NaN  1256.50       0.0
 2012-12-06  1250.00  1250.00  1250.00      NaN     NaN  1256.50       1.0
 2012-12-07     0.00     0.00     0.00      NaN     NaN  1248.50       0.0
 2012-12-10     0.00     0.00     0.00      NaN     NaN  1250.75       0.0
 2012-12-11     0.00     0.00     0.00      NaN     NaN  1234.00       0.0
 2012-12-12     0.00     0.00     0.00      NaN     NaN  1236.25       0.0
 2012-12-13     0.00     0.00     0.00      NaN     NaN  1228.00       0.0
 2012-12-14     0.00     0.00     0.00      NaN     NaN  1236.75       0.0
 2012-12-17     0.00     0.00     0.00      NaN     NaN  1239.25       0.0
 2012-12-18     0.00     0.00     0.00      NaN     NaN  1231.75       0.0
 2012-12-19     0.00     0.00     0.00      NaN     NaN  1224.75       0.0
 2012-12-20     0.00     0.00     0.00      NaN     NaN  1230.50       0.0
 2012-12-21     0.00     0.00     0.00      NaN     NaN  1242.50       0.0
 2012-12-24     0.00     0.00     0.00      NaN     NaN  1244.50       0.0
 2012-12-26     0.00     0.00     0.00      NaN     NaN  1239.75       0.0
 2012-12-27     0.00     0.00     0.00      NaN     NaN  1241.25       0.0
 ...             ...      ...      ...      ...     ...      ...       ...
 2016-10-04   970.75   972.00   960.25   965.00    9.50   963.50  106664.0
 2016-10-05   963.50   967.50   950.50   955.50    6.75   956.75  120912.0
 2016-10-06   956.00   959.75   947.25   958.50    1.75   958.50  100720.0
 2016-10-07   958.75   973.25   955.25   955.50    1.75   956.75  157903.0
 2016-10-10   955.75   964.25   950.00   953.75    2.25   954.50  111904.0
 2016-10-11   953.50   960.75   951.50   953.00    0.25   954.25  128280.0
 2016-10-12   953.00   971.25   943.25   946.00    8.75   945.50  219534.0
 2016-10-13   946.00   959.50   937.25   955.00   10.75   956.25  164969.0
 2016-10-14   955.50   974.25   952.00   961.75    6.25   962.50  166248.0
 2016-10-17   961.75   979.00   961.00   977.00   15.75   978.25  131057.0
 2016-10-18   977.50   987.00   971.50   972.00    5.75   972.50  156737.0
 2016-10-19   972.00   982.75   971.00   981.00    9.00   981.50  120150.0
 2016-10-20   981.25   989.75   973.25   975.25    6.00   975.50  116474.0
 2016-10-21   976.25   984.25   974.50   983.00    7.50   983.00   95860.0
 2016-10-24   982.75   999.75   980.00   991.50    9.00   992.00  152487.0
 2016-10-25   991.25   997.00   981.25   989.75    1.25   990.75  127094.0
 2016-10-26   990.25  1011.00   988.75  1005.00   19.25  1010.00  109249.0
 2016-10-27  1008.50  1020.00  1002.75  1013.75    4.25  1014.25   77412.0
 2016-10-28  1013.00  1017.50   999.50   998.00   13.00  1001.25   63306.0
 2016-10-31  1002.00  1008.00   996.25  1002.25    1.00  1002.25   16939.0
 2016-11-01  1002.00  1006.25   983.00   983.00   18.00   984.25   10273.0
 2016-11-02   983.00   986.25   973.50   977.00    7.50   976.75    8181.0
 2016-11-03   976.50   984.50   976.50   979.75    3.00   979.75    3805.0
 2016-11-04   980.50   985.50   975.00   981.75    1.75   981.50    3906.0
 2016-11-07   981.75   992.25   981.75   989.50    7.75   989.25    4383.0
 2016-11-08   989.50  1011.25   989.00  1000.50   12.50  1001.75    3392.0
 2016-11-09  1000.00  1007.00   975.50   983.50   19.75   982.00    3399.0
 2016-11-10   982.25  1007.75   982.00   992.75    7.00   989.00    2135.0
 2016-11-11   997.00  1005.50   969.50   979.50   10.50   978.50    2558.0
 2016-11-14   980.75   982.25   968.00   970.25    7.50   971.00     588.0

             Open Interest
 Date
 2012-11-14            0.0
 2012-11-15            0.0
 2012-11-16            0.0
 2012-11-19            0.0
 2012-11-20            0.0
 2012-11-21            0.0
 2012-11-23            0.0
 2012-11-26            0.0
 2012-11-27            0.0
 2012-11-28            0.0
 2012-11-29            0.0
 2012-11-30            0.0
 2012-12-03            0.0
 2012-12-04            0.0
 2012-12-05            0.0
 2012-12-06            0.0
 2012-12-07            1.0
 2012-12-10            1.0
 2012-12-11            1.0
 2012-12-12            1.0
 2012-12-13            1.0
 2012-12-14            1.0
 2012-12-17            1.0
 2012-12-18            1.0
 2012-12-19            1.0
 2012-12-20            1.0
 2012-12-21            1.0
 2012-12-24            1.0
 2012-12-26            1.0
 2012-12-27            1.0
 ...                   ...
 2016-10-04       327816.0
 2016-10-05       322962.0
 2016-10-06       311421.0
 2016-10-07       310522.0
 2016-10-10       297623.0
 2016-10-11       292833.0
 2016-10-12       280393.0
 2016-10-13       272975.0
 2016-10-14       269286.0
 2016-10-17       265250.0
 2016-10-18       252451.0
 2016-10-19       242535.0
 2016-10-20       229943.0
 2016-10-21       222392.0
 2016-10-24       150630.0
 2016-10-25       116925.0
 2016-10-26        91534.0
 2016-10-27        65009.0
 2016-10-28        40440.0
 2016-10-31        21455.0
 2016-11-01        15994.0
 2016-11-02        11225.0
 2016-11-03         8780.0
 2016-11-04         7487.0
 2016-11-07         6147.0
 2016-11-08         5079.0
 2016-11-09         4343.0
 2016-11-10         3296.0
 2016-11-11         2376.0
 2016-11-14          649.0

 [1008 rows x 8 columns]]

In [8]:
concat = pd.concat([test[0], test[1]])
concat

,Open,High,Low,Last,Change,Settle,Volume,Open Interest
Date,,,,,,,,
2012-11-14,0.00,0.00,0.00,NaN,NaN,1224.75,0.0,0.0
2012-11-15,0.00,0.00,0.00,NaN,NaN,1218.50,0.0,0.0
2012-11-16,0.00,0.00,1210.00,NaN,NaN,1210.00,0.0,0.0
2012-11-19,0.00,0.00,0.00,NaN,NaN,1224.00,0.0,0.0
2012-11-20,0.00,0.00,0.00,NaN,NaN,1239.00,0.0,0.0
2012-11-21,0.00,0.00,0.00,NaN,NaN,1232.00,0.0,0.0
2012-11-23,0.00,0.00,0.00,NaN,NaN,1232.50,0.0,0.0
2012-11-26,0.00,0.00,0.00,NaN,NaN,1241.75,0.0,0.0
2012-11-27,0.00,0.00,0.00,NaN,NaN,1254.75,0.0,0.0
2012-11-28,0.00,0.00,0.00,NaN,NaN,1252.00,0.0,0.0
2012-11-29,0.00,0.00,0.00,NaN,NaN,1253.75,0.0,0.0
2012-11-30,0.00,0.00,0.00,NaN,NaN,1253.00,0.0,0.0
2012-12-03,0.00,0.00,0.00,NaN,NaN,1256.50,0.0,0.0
2012-12-04,0.00,0.00,0.00,NaN,NaN,1250.50,0.0,0.0
2012-12-05,0.00,0.00,0.00,NaN,NaN,1256.50,0.0,0.0
2012-12-06,1250.00,1250.00,1250.00,NaN,NaN,1256.50,1.0,0.0
2012-12-07,0.00,0.00,0.00,NaN,NaN,1248.50,0.0,1.0
2012-12-10,0.00,0.00,0.00,NaN,NaN,1250.75,0.0,1.0
2012-12-11,0.00,0.00,0.00,NaN,NaN,1234.00,0.0,1.0
2012-12-12,0.00,0.00,0.00,NaN,NaN,1236.25,0.0,1.0
2012-12-13,0.00,0.00,0.00,NaN,NaN,1228.00,0.0,1.0
2012-12-14,0.00,0.00,0.00,NaN,NaN,1236.75,0.0,1.0
2012-12-17,0.00,0.00,0.00,NaN,NaN,1239.25,0.0,1.0
2012-12-18,0.00,0.00,0.00,NaN,NaN,1231.75,0.0,1.0
2012-12-19,0.00,0.00,0.00,NaN,NaN,1224.75,0.0,1.0
2012-12-20,0.00,0.00,0.00,NaN,NaN,1230.50,0.0,1.0
2012-12-21,0.00,0.00,0.00,NaN,NaN,1242.50,0.0,1.0
2012-12-24,0.00,0.00,0.00,NaN,NaN,1244.50,0.0,1.0
2012-12-26,0.00,0.00,0.00,NaN,NaN,1239.75,0.0,1.0
2012-12-27,0.00,0.00,0.00,NaN,NaN,1241.25,0.0,1.0
...,...,...,...,...,...,...,...,...
2016-10-04,970.75,972.00,960.25,965.00,9.50,963.50,106664.0,327816.0
2016-10-05,963.50,967.50,950.50,955.50,6.75,956.75,120912.0,322962.0
2016-10-06,956.00,959.75,947.25,958.50,1.75,958.50,100720.0,311421.0
2016-10-07,958.75,973.25,955.25,955.50,1.75,956.75,157903.0,310522.0
2016-10-10,955.75,964.25,950.00,953.75,2.25,954.50,111904.0,297623.0
2016-10-11,953.50,960.75,951.50,953.00,0.25,954.25,128280.0,292833.0
2016-10-12,953.00,971.25,943.25,946.00,8.75,945.50,219534.0,280393.0
2016-10-13,946.00,959.50,937.25,955.00,10.75,956.25,164969.0,272975.0
2016-10-14,955.50,974.25,952.00,961.75,6.25,962.50,166248.0,269286.0
2016-10-17,961.75,979.00,961.00,977.00,15.75,978.25,131057.0,265250.0
2016-10-18,977.50,987.00,971.50,972.00,5.75,972.50,156737.0,252451.0
2016-10-19,972.00,982.75,971.00,981.00,9.00,981.50,120150.0,242535.0
2016-10-20,981.25,989.75,973.25,975.25,6.00,975.50,116474.0,229943.0
2016-10-21,976.25,984.25,974.50,983.00,7.50,983.00,95860.0,222392.0
2016-10-24,982.75,999.75,980.00,991.50,9.00,992.00,152487.0,150630.0
2016-10-25,991.25,997.00,981.25,989.75,1.25,990.75,127094.0,116925.0
2016-10-26,990.25,1011.00,988.75,1005.00,19.25,1010.00,109249.0,91534.0
2016-10-27,1008.50,1020.00,1002.75,1013.75,4.25,1014.25,77412.0,65009.0
2016-10-28,1013.00,1017.50,999.50,998.00,13.00,1001.25,63306.0,40440.0
2016-10-31,1002.00,1008.00,996.25,1002.25,1.00,1002.25,16939.0,21455.0
2016-11-01,1002.00,1006.25,983.00,983.00,18.00,984.25,10273.0,15994.0
2016-11-02,983.00,986.25,973.50,977.00,7.50,976.75,8181.0,11225.0
2016-11-03,976.50,984.50,976.50,979.75,3.00,979.75,3805.0,8780.0
2016-11-04,980.50,985.50,975.00,981.75,1.75,981.50,3906.0,7487.0
2016-11-07,981.75,992.25,981.75,989.50,7.75,989.25,4383.0,6147.0
2016-11-08,989.50,1011.25,989.00,1000.50,12.50,1001.75,3392.0,5079.0
2016-11-09,1000.00,1007.00,975.50,983.50,19.75,982.00,3399.0,4343.0
2016-11-10,982.25,1007.75,982.00,992.75,7.00,989.00,2135.0,3296.0
2016-11-11,997.00,1005.50,969.50,979.50,10.50,978.50,2558.0,2376.0
2016-11-14,980.75,982.25,968.00,970.25,7.50,971.00,588.0,649.0

In [9]:
beans.loc['2012-11-19']

Open                0.0
High                0.0
Low                 0.0
Last                NaN
Change              NaN
Settle           1224.0
Volume              0.0
Open Interest       0.0
Name: 2012-11-19 00:00:00, dtype: float64

In [10]:
beans.index[-5].to_pydatetime() + timedelta(days=1)

datetime.datetime(2016, 11, 9, 0, 0)

In [12]:
beans.index[-5].to_pydatetime()

datetime.datetime(2016, 11, 8, 0, 0)

In [13]:
start_date = beans.index[-5]
beans.loc[start_date]

Open              989.50
High             1011.25
Low               989.00
Last             1000.50
Change             12.50
Settle           1001.75
Volume           3392.00
Open Interest    5079.00
Name: 2016-11-08 00:00:00, dtype: float64

In [14]:
beans.index.get_loc(start_date)

1003

In [15]:
x16 = quandl.get('CME/SX2016', authtoken='Hv95pPh1xQWzt5DFhxS7')
u16 = quandl.get('CME/SU2016', authtoken='Hv95pPh1xQWzt5DFhxS7')
u16.head()

            Open  High  Low  Last  Change   Settle  Volume  Open Interest
Date
2013-11-14   0.0   0.0  0.0   NaN     NaN  1168.50     0.0            0.0
2013-11-15   0.0   0.0  0.0   NaN     NaN  1145.00     0.0            0.0
2013-11-18   0.0   0.0  0.0   NaN     NaN  1142.25     0.0            0.0
2013-11-19   0.0   0.0  0.0   NaN     NaN  1139.25     0.0            0.0
2013-11-20   0.0   0.0  0.0   NaN     NaN  1145.00     0.0            0.0

In [16]:
u16[u16.Last.isnull()]

,Open,High,Low,Last,Change,Settle,Volume,Open Interest
Date,,,,,,,,
2013-11-14,0.00,0.00,0.00,NaN,NaN,1168.50,0.0,0.0
2013-11-15,0.00,0.00,0.00,NaN,NaN,1145.00,0.0,0.0
2013-11-18,0.00,0.00,0.00,NaN,NaN,1142.25,0.0,0.0
2013-11-19,0.00,0.00,0.00,NaN,NaN,1139.25,0.0,0.0
2013-11-20,0.00,0.00,0.00,NaN,NaN,1145.00,0.0,0.0
2013-11-21,0.00,0.00,0.00,NaN,NaN,1150.00,0.0,0.0
2013-11-22,0.00,0.00,0.00,NaN,NaN,1152.25,0.0,0.0
2013-11-25,0.00,0.00,0.00,NaN,NaN,1150.25,0.0,0.0
2013-11-26,0.00,0.00,0.00,NaN,NaN,1146.00,0.0,0.0
2013-11-27,0.00,0.00,0.00,NaN,NaN,1134.75,0.0,0.0
2013-11-29,0.00,0.00,0.00,NaN,NaN,1136.75,0.0,0.0
2013-12-02,0.00,0.00,0.00,NaN,NaN,1140.00,0.0,0.0
2013-12-03,0.00,0.00,0.00,NaN,NaN,1147.75,0.0,0.0
2013-12-04,0.00,0.00,0.00,NaN,NaN,1153.75,0.0,0.0
2013-12-05,0.00,0.00,0.00,NaN,NaN,1152.50,0.0,0.0
2013-12-06,0.00,0.00,0.00,NaN,NaN,1151.50,0.0,0.0
2013-12-09,0.00,0.00,0.00,NaN,NaN,1152.50,0.0,0.0
2013-12-10,0.00,0.00,0.00,NaN,NaN,1148.25,0.0,0.0
2013-12-11,0.00,0.00,0.00,NaN,NaN,1147.75,0.0,0.0
2013-12-12,0.00,0.00,0.00,NaN,NaN,1140.00,0.0,0.0
2013-12-13,0.00,0.00,0.00,NaN,NaN,1138.00,0.0,0.0
2013-12-16,0.00,0.00,0.00,NaN,NaN,1142.50,0.0,0.0
2013-12-17,0.00,0.00,0.00,NaN,NaN,1145.50,0.0,0.0
2013-12-18,0.00,0.00,0.00,NaN,NaN,1140.50,0.0,0.0
2013-12-19,0.00,0.00,0.00,NaN,NaN,1135.50,0.0,0.0
2013-12-20,0.00,0.00,0.00,NaN,NaN,1143.00,0.0,0.0
2013-12-23,0.00,0.00,0.00,NaN,NaN,1137.00,0.0,0.0
2013-12-24,0.00,0.00,0.00,NaN,NaN,1134.75,0.0,0.0
2013-12-26,0.00,0.00,0.00,NaN,NaN,1123.00,0.0,0.0
2013-12-27,0.00,0.00,0.00,NaN,NaN,1126.50,1.0,0.0
...,...,...,...,...,...,...,...,...
2015-06-15,910.00,911.75,910.00,NaN,2.00,914.25,27.0,233.0
2015-06-16,920.00,920.00,920.00,NaN,15.75,930.00,6.0,233.0
2015-06-17,NaN,NaN,NaN,NaN,10.25,940.25,5.0,230.0
2015-06-18,940.00,940.00,940.00,NaN,1.00,941.25,20.0,230.0
2015-06-19,NaN,NaN,NaN,NaN,2.50,938.75,2.0,236.0
2015-06-22,NaN,NaN,NaN,NaN,16.75,955.50,7.0,236.0
2015-06-23,NaN,NaN,NaN,NaN,0.75,954.75,13.0,235.0
2015-06-24,NaN,NaN,NaN,NaN,3.75,951.00,0.0,235.0
2015-06-25,NaN,NaN,NaN,NaN,13.75,964.75,1.0,235.0
2015-06-26,NaN,NaN,NaN,NaN,3.50,961.25,15.0,234.0
2015-06-29,959.25,959.25,959.25,NaN,3.25,958.00,1.0,238.0
2015-06-30,981.25,986.50,979.25,NaN,28.00,986.00,197.0,238.0
2015-07-01,988.25,988.25,988.25,NaN,3.00,983.00,18.0,343.0
2015-07-02,NaN,NaN,NaN,NaN,3.25,986.25,2.0,344.0
2015-07-06,NaN,NaN,NaN,NaN,3.25,983.00,0.0,344.0
2015-07-08,NaN,NaN,NaN,NaN,2.50,961.00,16.0,392.0
2015-07-09,NaN,NaN,NaN,NaN,21.00,982.00,7.0,392.0
2015-07-10,NaN,NaN,NaN,NaN,2.75,984.75,12.0,390.0
2015-07-22,NaN,NaN,NaN,NaN,10.25,954.00,4.0,391.0
2015-08-03,NaN,NaN,NaN,NaN,1.50,915.25,0.0,411.0
2015-08-04,NaN,NaN,NaN,NaN,4.50,919.75,2.0,411.0
2015-08-05,NaN,NaN,NaN,NaN,2.50,922.25,58.0,412.0
2015-08-06,NaN,NaN,NaN,NaN,9.25,913.00,31.0,418.0
2015-08-14,NaN,NaN,NaN,NaN,9.50,905.25,11.0,484.0
2015-08-17,NaN,NaN,NaN,NaN,1.75,907.00,7.0,489.0
2015-08-20,NaN,NaN,NaN,NaN,10.75,901.00,5.0,510.0
2015-08-21,NaN,NaN,NaN,NaN,15.50,885.50,12.0,520.0
2015-09-03,NaN,NaN,NaN,NaN,4.50,868.00,36.0,603.0
2015-09-15,NaN,NaN,NaN,NaN,5.50,886.75,25.0,640.0
2015-09-24,NaN,NaN,NaN,NaN,4.75,877.00,96.0,728.0

In [17]:
product_map = {'S': ['CME', ['F', 'H', 'K', 'N', 'Q', 'U', 'X']],
               'SB': ['ICE', ['H', 'K', 'N', 'V']]}

In [18]:
test_dict = {}
product = 'S'

for year in (['2012', '2013', '2014']):
    for month in product_map[product][1]:
        test_dict['{}{}'.format(month, year[-2:])] = quandl.get('{}/{}{}{}'.format(product_map[product][0], product, month, year) , authtoken='Hv95pPh1xQWzt5DFhxS7')

        
test_dict['X14'].head()

,Open,High,Low,Last,Change,Settle,Volume,Open Interest
Date,,,,,,,,
2010-11-12,1093.50,1093.50,1093.50,NaN,NaN,1093.50,0.0,0.0
2010-11-15,1107.00,1107.00,1107.00,NaN,NaN,1107.00,0.0,0.0
2010-11-16,1067.00,1067.00,1067.00,NaN,NaN,1067.00,0.0,0.0
2010-11-17,1054.00,1054.00,1054.00,NaN,NaN,1054.00,0.0,0.0
2010-11-18,1081.25,1081.25,1081.25,NaN,NaN,1081.25,0.0,0.0

In [29]:
beans.iloc[-5]

Open              989.50
High             1011.25
Low               989.00
Last             1000.50
Change             12.50
Settle           1001.75
Volume           3392.00
Open Interest    5079.00
Name: 2016-11-08 00:00:00, dtype: float64

In [111]:
def concat_contracts(df1, df2):
    # Store important roll dates for indexing later
    last_date = df1.index[-5]
    roll_dates = [df1.index[-x] for x in range(4,0,-1)]
    df1_roll_index = df1.index.get_loc(roll_dates[0])
    df2_roll_index = df2.index.get_loc(roll_dates[0])
    first_date = df2.index[df2_roll_index + 4]
    
    # Create a list of the roll calculations for each day    
    roll_calc = [((0.8 * df1.Last[df1_roll_index]) + 0.2 * df2.Last[df2_roll_index]),
                 ((0.6 * df1.Last[(df1_roll_index + 1)]) + 0.4 * df2.Last[(df2_roll_index + 1)]),
                 ((0.4 * df1.Last[(df1_roll_index + 2)]) + 0.6 * df2.Last[(df2_roll_index + 2)]),
                 ((0.2 * df1.Last[(df1_roll_index + 3)]) + 0.8 * df2.Last[(df2_roll_index + 3)])]
    
    # Create concatendated dataframe
    # Take all data from first series up to last_date
    concat_df = df1.Last[:last_date]
    
    # Iterate through roll_dates and roll_calc to append roll data
    for i in range(4):
        concat_df.loc[roll_dates[i]] = roll_calc[i]
    
    # Finally concatenate the rest of the data from the second series
    concat_df = pd.concat([concat_df, df2.Last[first_date:]])
                
    return concat_df

In [112]:
concat_test = concat_contracts(u16, x16)

In [113]:
concat_test.tail()

Date
2016-11-08    1000.50
2016-11-09     983.50
2016-11-10     992.75
2016-11-11     979.50
2016-11-14     970.25
Name: Last, dtype: float64

In [109]:
test_date = u16.index[150]

In [110]:
test_date

Timestamp('2014-06-23 00:00:00')

In [115]:
x16.Last.tail()

Date
2016-11-08    1000.50
2016-11-09     983.50
2016-11-10     992.75
2016-11-11     979.50
2016-11-14     970.25
Name: Last, dtype: float64

In [127]:
print(u16.loc['2016-09-14'].Last)
print(concat_test.loc['2016-09-14'])
print(x16.loc['2016-09-14'].Last)

968.0
948.0000000000001
943.0

In [130]:
print(concat_test.loc['2016-09-16'])

965.0

In [131]:
print(x16.loc['2016-09-16'].Last)

965.0

In [139]:
u16[u16.Volume > 100].index.tolist()[0]

Timestamp('2015-06-30 00:00:00')

In [203]:
def filter_df(df):
    last_null_date = df[df.Last.isna()].index.tolist()[-1]
    last_loc = df.index.get_loc(last_null_date)
    start_date = df.index[last_loc + 1]
    return df[start_date:]

In [181]:
filter_df(u16).describe().T

,count,mean,std,min,25%,50%,75%,max
Open,245.0,958.147959,85.063066,866.50,888.00,916.00,1019.00,1181.75
High,245.0,966.659184,89.468399,868.25,891.25,920.50,1031.00,1192.00
Low,245.0,950.335714,81.116876,857.75,884.25,910.25,1008.50,1161.00
Last,245.0,958.402041,85.192084,864.25,887.50,918.25,1020.50,1166.00
Change,241.0,9.122407,9.435337,0.25,3.50,6.00,11.00,57.25
Settle,245.0,958.626531,85.208840,863.75,887.75,916.25,1020.25,1168.50
Volume,245.0,5530.497959,6767.171168,36.00,496.00,1620.00,10057.00,27577.00
Open Interest,245.0,16809.571429,16814.878930,259.00,2697.00,9181.00,27724.00,56482.00

In [183]:
u16['change'] = u16.Settle - u16.Settle.shift()

In [184]:
u16.head()

,Open,High,Low,Last,Change,Settle,Volume,Open Interest,change
Date,,,,,,,,,
2013-11-14,0.0,0.0,0.0,NaN,NaN,1168.50,0.0,0.0,NaN
2013-11-15,0.0,0.0,0.0,NaN,NaN,1145.00,0.0,0.0,-23.50
2013-11-18,0.0,0.0,0.0,NaN,NaN,1142.25,0.0,0.0,-2.75
2013-11-19,0.0,0.0,0.0,NaN,NaN,1139.25,0.0,0.0,-3.00
2013-11-20,0.0,0.0,0.0,NaN,NaN,1145.00,0.0,0.0,5.75

In [186]:
u16.tail(30)

,Open,High,Low,Last,Change,Settle,Volume,Open Interest,change
Date,,,,,,,,,
2016-08-03,972.00,985.50,969.25,972.25,2.25,973.50,12467.0,55485.0,2.25
2016-08-04,972.25,984.75,968.25,972.75,NaN,973.50,7206.0,54294.0,0.00
2016-08-05,974.25,994.75,974.25,991.00,14.50,988.00,8869.0,53413.0,14.50
2016-08-08,992.00,1002.25,987.75,996.50,13.25,1001.25,10250.0,51915.0,13.25
2016-08-09,998.75,1015.00,993.50,998.50,3.75,1005.00,12657.0,50287.0,3.75
2016-08-10,1005.00,1014.00,989.00,996.00,6.50,998.50,11349.0,48687.0,-6.50
2016-08-11,998.00,1007.50,995.50,1001.25,3.25,1001.75,9469.0,47992.0,3.25
2016-08-12,1000.25,1010.00,981.00,985.00,2.75,999.00,16963.0,47670.0,-2.75
2016-08-15,998.50,1026.50,997.00,1023.25,24.75,1023.75,12338.0,45578.0,24.75
2016-08-16,1022.25,1028.50,1012.25,1020.50,4.25,1019.50,12447.0,43763.0,-4.25
2016-08-17,1020.75,1031.00,1016.00,1030.00,11.00,1030.50,11579.0,40740.0,11.00
2016-08-18,1037.00,1037.00,1012.00,1031.75,1.75,1032.25,12810.0,38441.0,1.75
2016-08-19,1032.50,1035.00,1017.00,1027.50,5.25,1027.00,10365.0,39233.0,-5.25
2016-08-22,1025.50,1041.25,1023.00,1035.00,8.25,1035.25,7628.0,38518.0,8.25
2016-08-23,1030.50,1036.75,1026.50,1032.00,1.00,1034.25,5255.0,37883.0,-1.00
2016-08-24,1033.50,1036.00,1021.75,1029.25,3.50,1030.75,10708.0,35948.0,-3.50
2016-08-25,1029.75,1029.75,997.00,999.00,32.50,998.25,21824.0,32995.0,-32.50
2016-08-26,996.50,1002.25,982.50,989.75,7.50,990.75,15473.0,30909.0,-7.50
2016-08-29,991.75,998.25,981.50,982.75,7.50,983.25,12752.0,17982.0,-7.50
2016-08-30,984.00,986.75,960.50,967.25,17.75,965.50,11551.0,9857.0,-17.75
2016-08-31,966.50,970.50,956.00,958.50,5.50,960.00,2763.0,5188.0,-5.50
2016-09-01,960.25,965.00,954.00,959.75,1.00,959.00,809.0,4225.0,-1.00
2016-09-02,960.00,971.00,960.00,966.00,9.50,968.50,639.0,3835.0,9.50
2016-09-06,969.00,978.00,965.50,973.00,5.75,974.25,1159.0,3426.0,5.75
2016-09-07,980.50,993.50,980.50,991.75,17.50,991.75,900.0,2581.0,17.50
2016-09-08,994.50,999.25,987.75,991.25,0.25,992.00,592.0,1874.0,0.25
2016-09-09,989.50,999.75,988.50,998.75,5.25,997.25,942.0,1434.0,5.25
2016-09-12,990.25,1006.75,980.00,985.50,12.75,984.50,385.0,796.0,-12.75
2016-09-13,982.50,982.50,968.50,969.00,16.25,968.25,256.0,466.0,-16.25
2016-09-14,971.75,971.75,967.75,968.00,3.75,972.00,259.0,259.0,3.75

In [208]:
def clean_df(df):
    # Filter
    df = filter_df(df)
    
    # Drop unnecessary columns and rename
    df = df.loc[:, ['Open', 'High', 'Low', 'Settle', 'Volume', 'Open Interest']]
    df.rename(columns={'Open': 'open',
                       'High': 'high',
                       'Low': 'low',
                       'Settle': 'close',
                       'Volume': 'volume',
                       'Open Interest': 'open_interest'}, inplace=True)
    
    # Add `change` back in correctly
    df['change'] = df.close - df.close.shift()

    
    return df[1:]

In [209]:
x16.head()

            Open  High     Low  Last  Change   Settle  Volume  Open Interest
Date
2012-11-14   0.0   0.0     0.0   NaN     NaN  1224.75     0.0            0.0
2012-11-15   0.0   0.0     0.0   NaN     NaN  1218.50     0.0            0.0
2012-11-16   0.0   0.0  1210.0   NaN     NaN  1210.00     0.0            0.0
2012-11-19   0.0   0.0     0.0   NaN     NaN  1224.00     0.0            0.0
2012-11-20   0.0   0.0     0.0   NaN     NaN  1239.00     0.0            0.0

In [211]:
x_16_cleaned = clean_df(x16)
x_16_cleaned.tail(10)

               open     high     low    close   volume  open_interest  change
Date
2016-11-01  1002.00  1006.25  983.00   984.25  10273.0        15994.0  -18.00
2016-11-02   983.00   986.25  973.50   976.75   8181.0        11225.0   -7.50
2016-11-03   976.50   984.50  976.50   979.75   3805.0         8780.0    3.00
2016-11-04   980.50   985.50  975.00   981.50   3906.0         7487.0    1.75
2016-11-07   981.75   992.25  981.75   989.25   4383.0         6147.0    7.75
2016-11-08   989.50  1011.25  989.00  1001.75   3392.0         5079.0   12.50
2016-11-09  1000.00  1007.00  975.50   982.00   3399.0         4343.0  -19.75
2016-11-10   982.25  1007.75  982.00   989.00   2135.0         3296.0    7.00
2016-11-11   997.00  1005.50  969.50   978.50   2558.0         2376.0  -10.50
2016-11-14   980.75   982.25  968.00   971.00    588.0          649.0   -7.50

In [219]:
test_list = []
product = 'S'

for year in (['2012', '2013']):
    for month in product_map[product][1]:
        test_list.append(('{}{}{}'.format(product, month, year[2:]), quandl.get('{}/{}{}{}'.format(product_map[product][0], product, month, year) , authtoken='Hv95pPh1xQWzt5DFhxS7')))

        
test_list[0][0]

'SF12'

In [223]:
test_list[10][1].head()

,Open,High,Low,Last,Change,Settle,Volume,Prev. Day Open Interest
Date,,,,,,,,
2009-11-16,1034.0,1034.0,1034.0,None,None,1034.0,0.0,0.0
2009-11-17,1037.0,1037.0,1037.0,None,None,1037.0,0.0,0.0
2009-11-18,1018.0,1018.0,1018.0,None,None,1018.0,0.0,0.0
2009-11-19,1018.0,1018.0,1018.0,None,None,1018.0,0.0,0.0
2009-11-20,1018.0,1018.0,1018.0,None,None,1018.0,0.0,0.0

In [231]:
from suds.client import Client

ondemand = Client('https://ondemand.websol.barchart.com/service?wsdl')

result = client.service.getHistory('YOUR_API_KEY', 'AAPL', 'minutes', '20100101', '20130101', '10', '60', 'asc', 'EFK', 'true', 'true', 'sum', '1', 'true', 'NYSE,AMEX,NASDAQ', 'false', '1', 'expiration')

print(result)

AttributeError: module 'suds.client' has no attribute 'service'

In [ ]:
def get_quandl_df(product, product_map, start_year, end_year, api_key):
    exch = product_map[product][0]
    
    df = quandl.get('CME/SU2016', authtoken='Hv95pPh1xQWzt5DFhxS7')